#journal-header-container {
	width: calc(100vw - 164px);
	display: inline-flex;
	margin: 5px 50px;
}

#journal-header-avatar {
	width: 150px;
}

#journal-header-image {
	width: 100%;
	height: auto;
}

#journal-header-thought {
	font-size: 40px;
}

#journal-header-copy {
	font-size: 40px;
	flex-grow: 1;
}

.journaled {
	display: none;
}

.journal-card {
	margin: 0 50px;
}

#journal-entry-container, #journal-view-container {
	margin: 5px 50px 0px;
	width: calc(100% - 100px);
}

.form-group, .view-group {
	margin: 15px 0;
}

.button-container {
	margin-bottom: 5px;
	text-align: center;
}

#entry-success {
	margin-bottom: 10px;
	color: green;
}

#entry-fail {
	margin-bottom: 10px;
	color: red;
}

.view-group {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.data-list {
	width: 20%;
}

.condition-card {
}