#auth-container {
	width: 375px;
	margin: auto;
	position: absolute;
	top: 45%;
	left: 50%;
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

#auth-header {
	display: inline-flex;
}

#auth-header-avatar {
	margin-left: 32px;
	width: 75px;
	height: auto;
}

#auth-header-logo {
	width: 100%;
	height: auto;
}

.auth-card {
	width: 100%;
}

.form-group {
	margin: 0 16px;
}

.button-container {
	margin-bottom: 5px;
	text-align: center;
}